div.tower {
  text-align: center;
  background-color: var(--layer-bg);
  color: var(--layer-text);
  box-shadow: var(--shadow);
  border-radius: 1em;
}

div.tower a {
  color: var(--layer-text);
}

div.tower:focus,
div.tower:hover,
div.tower:has(a:focus) {
  border: 2px solid var(--layer-text);
}

div.tower img {
  width: 120px;
  height: 150px;
  object-fit: contain;
}

div.tower-list {
  display: grid;
  margin: 2.5%;
  grid-template-columns: repeat(4, 22%);
  grid-template-rows: repeat(8, 250px);
  gap: 2% 4%;
}

section.all-towers {
  margin: auto;
}

section.all-towers h1 {
  margin: 1em 0.5em;
}

@media (width <= 1200px) {
  div.tower-list {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: repeat(12, 150px);
    gap: 4em 2em;
    padding: 0 1em 2em;
  }

  div.tower img {
    width: 60px;
    height: 75px;
    object-fit: contain;
  }

  div.tower h2 {
    font-size: 100%;
  }
}
