h4 img {
  filter: invert(100%);
  vertical-align: center;
  width: 20px;
}

div.coverage {
  margin-left: 16px;
  grid-column: 1 / span 2;
}
div.coverage h4 {
  cursor: pointer;
  width: fit-content;
}
div.coverage table img {
  width: 32px;
}
div.projectile {
  display: grid;
  grid-template-columns: 50% 50%;
  text-align: left;
}

p.damage img {
  width: 20px;
  height: 25px;
  margin-left: 5px;
}

p.damage::before {
  background-image: url("../assets/BTD6_MapBuffIconDamage.png");
  background-size: 25px 20px;
  display: inline-block;
  width: 25px;
  height: 20px;
  content: "";
  margin-right: 5px;
}
p.pierce::before {
  background-image: url("../assets/BTD6_MapBuffIconPierce.png");
  background-size: 25px 20px;
  display: inline-block;
  width: 25px;
  height: 20px;
  content: "";
  margin-right: 5px;
}
p.range::before {
  background-image: url("../assets/BTD6_MapBuffIconRange.png");
  background-size: 25px 20px;
  display: inline-block;
  width: 25px;
  height: 20px;
  content: "";
  margin-right: 5px;
}
p.speed::before {
  background-image: url("../assets/BTD6_MapBuffIconSpeed.png");
  background-size: 25px 20px;
  display: inline-block;
  width: 25px;
  height: 20px;
  content: "";
  margin-right: 5px;
}
p.lead::before {
  background-image: url("../assets/bloons/BTD6_bloon_Lead.png");
  background-size: 20px 25px;
  display: inline-block;
  width: 20px;
  height: 25px;
  content: "";
  margin-right: 5px;
  margin-left: -5px;
}
p.ceramic::before {
  background-image: url("../assets/bloons/BTD6_bloon_Ceramic.png");
  background-size: 20px 25px;
  display: inline-block;
  width: 20px;
  height: 25px;
  content: "";
  margin-right: 5px;
  margin-left: -5px;
}
p.moab::before {
  background-image: url("../assets/bloons/BTD6_bloon_MoabIcon.png");
  background-size: 25px 20px;
  display: inline-block;
  width: 25px;
  height: 20px;
  content: "";
  margin-right: 5px;
}
p.fortified::before {
  background-image: url("../assets/bloons/BTD6_bloon_Fortified.png");
  background-size: 20px 25px;
  display: inline-block;
  width: 20px;
  height: 25px;
  content: "";
  margin-right: 5px;
  margin-left: -5px;
}
p.cost::before {
  background-image: url("../assets/BTD6_MapBuffIconCost.png");
  background-size: 25px 20px;
  display: inline-block;
  width: 25px;
  height: 20px;
  content: "";
  margin-right: 5px;
}

@media (width <= 1200px) {
  div.coverage img {
    width: 24px;
    padding: 2px;
  }

  div.projectile {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  div.stats {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 36px 36px 36px;
  }

  p.damage img {
    position: relative;
    top: 20px;
  }
}
